:root {
    --primary-color: #FFFF99;
    --font-color: #8B0000;
    --dark-bg: rgba(139,0,0,0.7);
    --safety-yellow: #EED202;
}

body {
    background-color: var(--primary-color);
    color: var(--font-color);
    font-size: 17px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin-bottom: 1%;
    font-family: 'Roboto Slab', serif;
}

.well-spaced {
    margin: 2.5% auto;
    padding: 2.5% 5%;
}

.navbar {
    margin: 0;
    text-align: center;
    background-color: var(--font-color) !important;
    color: var(--primary-color) !important;
}

.navbar ul {
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.navbar li {
    margin: 10px;
    padding: 5px;
}

.navbar a {
    text-decoration: none;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: normal;
    text-transform: normal;
    color: var(--primary-color) !important;
}

.navbar a:hover{
    background-color: var(--primary-color);
    color: var(--font-color) !important;
}

.navbar-brand i,
.navbar-brand .logo {
    font-size: 3rem;
    padding: 10px;
    margin: 0 auto;
}

.main-navbar li.active {
    background-color: var(--primary-color);
}

li.active a {
    color: var(--font-color) !important;
}

.dropdown-menu {
    background-color: var(--primary-color);
    border: 2px solid var(--font-color);
}

.dropdown-menu a{
    color: var(--font-color) !important;
}

.navbar-light .navbar-toggler{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

/* carousel */

.carousel img {
    width: 100%;
    max-height: 450px;
}

.carousel-text{
    color: var(--primary-color);
    text-shadow: 1px 1px var(--font-color);
}

.carousel-text h3{
    font-size: 2.5rem;
}

/* section intro  */

.intro-content p {
    text-align: justify;
}

.central-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* section why us */

.why-us {
    background-color: var(--font-color);
    color: var(--primary-color);
    text-align: justify;
}

.why-us button {
    color: red;
    background-color: rgb(110, 110, 22);
}

.why-us img {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px 20px;
}

.why-us button{
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--font-color);
    display: block;
    margin: 0 auto;
    text-align: center;
    outline: none;
}

.why-us button:hover,
.why-us button:visited,
.why-us button:focus{
    border: 1px solid var(--primary-color);
    background-color: var(--font-color);
    color: var(--primary-color);
    outline: none;
}

/* Our Products Section */

.our-products img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.our-products .product-links {
    color:var(--font-color);
    font-weight: bold;
}

/* Clients Section */

.clients h3{
    margin: 15px auto;
}

.client-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.client-logos img {
    margin: 20px;
    max-width: 100px;
}

.owl-carousel p {
    text-align: justify;
}

.owl-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
}

.owl-nav .owl-prev,
.owl-nav .owl-next{
    font-size: 30px !important;
}

/* footer */

footer{
    margin: 0;
    padding: 0;
}

.footer-main {
    padding: 2.5% 0;
    background-color: var(--font-color);
    color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.footer-main .address{
    flex: 1;
}

.footer-main .quick-links{
    flex: 1;
}

.footer-main .quick-links ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: left;
}

.quick-links li {
    list-style: none;
    margin: 10px 10px;
}

.quick-links li:after {
    content: "|"
}

.quick-links li:last-child:after {
    content: ""
}

.footer-main .connect {
    flex: 1;
    padding: 0 2.5%;
}

.footer-main a{
    color: var(--primary-color);
    font-weight: bold;
}

.footer-main .contact-btn {
    width: 100px;
}

.contact-btn#reset-btn{
    background-color: var(--font-color);
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: bold;
    text-transform: uppercase;
}

.contact-btn#submit-btn{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--font-color);
    font-weight: bold;
    text-transform: uppercase;
}

.footer-main .button-row {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-bar{
    padding: 2.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-bar a{
    color: var(--font-color);
    font-weight: bold;
}

/* aboutus page */

.aboutus-content p,
.why-us p,
.note p{
    text-align: justify;
}

.director-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.director-image p{
    font-weight: bold;
}

.director-image img {
    max-width: 350px;
    margin-bottom: 5%;
}

/* Contact Page */

.map{
    width: 100%;
    min-height: 500px;
    margin: 0;
    padding: 0;
}


/* Product Pages */


.outer-section {
    display: flex;
    flex-direction: row;
    border: 3px solid yellow;
    margin:0;
    padding: 0;
}

.outer-section aside li {
    list-style: none;
}

.outer-section a {
    color: red;
    text-decoration: none;
}

.outer-section aside {
    flex: 1;
}

aside {
    border: 5px solid red;
    margin:0;
    padding: 0;
}


/* producttype */

.inner-section img {
    max-width: 600px;
}

.inner-section {
    flex: 3;
}



@media only screen and (max-width: 1024px) {
    .navbar-brand{
        margin: 0 auto;
    }
    .carousel img {
        width: 100%;
        max-height: 400px;
    }

    .why-us img{
        max-width: 300px;
    }

    .our-products img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-bottom: 30px;
    }

    .client-logos img {
        margin: 20px;
        max-width: 100px;
        max-height: 100px;
    }

    .footer-main .address,
    .footer-main .quick-links,
    .footer-main .connect {
        flex: 1 1 100%;
        padding: 2.5%;
    }

    .footer-main .quick-links ul{
        display: flex;
        flex-wrap: wrap;
    }

    .footer-main .quick-links li{
        list-style: none;
        margin: 5px 10px;
    }

    .director-image img {
        max-width: 250px;
    }
}

@media only screen and (max-width: 768px) {
    .carousel img {
        width: 100%;
        max-height: 400px;
    }

    .vertical-space{
        margin-top: 30px;
    }

    .why-us img{
        max-width: 300px;
    }

    .our-products img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 30px;
    }

    .client-logos img {
        margin: 20px;
        max-width: 100px;
        max-height: 75px;
    }

    .footer-main .address,
    .footer-main .quick-links,
    .footer-main .connect {
        padding: 2.5%;
    }

    .footer-main .quick-links ul{
        display: flex;
        flex-direction: column;
        text-align: left;
        flex-wrap: wrap;
    }

    .director-image img {
        max-width: 250px;
    }

    .quick-links li:after {
        content: ""
    }
}