body{
        color:#B02E0C;
        font-size: 1em;
        font-weight: normal;
        font-family: 'Roboto Condensed', sans-serif;
}
h1 ,h2 {
    color:red;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}
iframe{
    width:100%;
}
#main-header{
    background-color: #EEF36A;
    padding: 0;
}
.navbar {
    margin: 0;
    text-align: center;
    background-color: #00316d !important;
    } 
    .navbar ul{
    margin: 0 auto;
    list-style: none;
    text-align: left;
    }
    
    .navbar li {
        margin: 10px;
    }
        .navbar a{
    text-decoration: none;
    font-family: Cambria, serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: normal;
    text-transform: normal;
    color: red !important;
    }
        
    .nav-link{
        display: inline;
        margin: 0 auto;
        
    }  
    .navbar-brand .logo{
        font-family: 'Berkshire Swash', cursive;
       
        }
        
  .navbar-brand i,
  .navbar-brand .logo {
        font-size: 3rem;
        padding: 10px;
        margin: 0 auto;
        }
    .main-navbar li.active{
        background-color:#EEF36A;
    }
    .dropdown-menu{
        background-color: #EEF36A;
      
        border: 2px solid #C6F6FF;
    }
   
    /* carousel */
    .carousel img{
       width: 100%;
       max-height: 500px;
    }
   /* section two  */

   .section-two .header-content{
    padding: 30px 60px;
   }
   .header-content{
    background-color:#EEF36A;
   }
  .header-content p{
      text-align: justify;
  }
        /* about content */
    .about-content{
        padding: 10px 10px;
        margin: 0 auto;
    }
    .about-content .row{
        padding: 10px 10px;
        margin: 0 auto;
        border: 5px solid lightgoldenrodyellow;
    }
   /* aboutus page */
   .aboutus-content{
       margin: 0 auto;
       padding: 10px 10px;
       text-align: center;
       background-color:#EEF36A;

       align-items: center;
   }
   .aboutus-content  h2{
       text-align: center;
   }
   .note {
        margin-top: 20px;
        padding: 20px 20px;
        margin-bottom: 20px;
   }
   .note img {
       max-width: 300px;
    }
.outer-section {
    display: flex;
    flex-direction: row;
    border: 3px solid yellow;
    padding: 10px 10px;
}
.outer-section aside li{
    list-style: none;
}
.outer-section a{
    color:red;
    text-decoration: none;
}
aside{
    margin-top: 40px;
}
.outer-section aside{
    flex:1;
    margin-top: 20px;
}
/* producttype */

.inner-section img{
    max-width: 600px;
    margin-bottom: 20px;
    padding: 50px;
}
.inner-section{
    flex:3;
}
.inner-section h3{
    padding: 10px 10px;

}
/* why us */
.why-us{
   padding: 20px;
   margin-top: 20px;
}
.why-us button{
    color: red;
    background-color: rgb(110, 110, 22);
}
.why-us img {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px 20px;
}
.our-products{
    padding: 50px 50px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.our-products p , h2{
    margin-bottom: 30px;
}
.our-products img {
max-width: 300px;
margin-bottom: 30px;

}
/* our-clients */
.our-clients{
    padding: 50px 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.our-clients h2{
    margin-bottom: 20px;
}

.our-clients img{
    max-width: 300px;
}

/* testimonials */
.testimonials{
    margin-top: 20px;
    margin-bottom: 20px;
}
/* owl carousel */
.owl-carousel p{
    color: #C33C54;
    font-weight: bold;
    text-transform: uppercase;
 
}

.icon {
    background: rgba(255, 255, 255, .1);
    color: rgba(0, 0, 0, .3);
    font-family: 'FontAwesome';
    font-size: 40px;
    line-height: 60px;
    margin-top: -30px;
    position: absolute; top: 50%;
    text-align: center;
    width: 60px; height: 60px;
  }

.owl-next, 
.owl-prev {
  height: 100%;    
margin: 0 !important;
}
.owl-next {
  right: 0;
}
.owl-prev {
  left: 0;
}
.owl-next:hover .icon, 
.owl-prev:hover .icon {
  background: rgba(195, 60, 84,0.8);
  color: rgba(255, 255, 255, .9);
  
}
.icon-arrow-left7 {left: 0; }
.icon-arrow-left7:before { content: "\f054";}
.icon-arrow-right7 { right: 0; }
.icon-arrow-right7:before { content: "\f053"; }




/* contact */
#contact{
    padding-bottom: 10px;
}



input[id="formm"] {
  
  width: 300px;
  background-color:white;
  height: 30px;
  font-size: 1.1em;
}

textarea {
 
  width: 300px;
  background-color:white;
  height: 30px;
  font-size: 1.5em;
  resize: none;
  height: 100px;
}

input[type="submit"] {
  width: 75px;
  background-color:red;
  color: white;
  border: solid black 3px;
  cursor: pointer;
  padding: 10px;
  width: 150px;
}

input[type="submit"]:hover {
  border: 3px solid black;
  background-color: yellow;
  color:red;}

input[type="reset"] {
  width: 75px;
  background-color: red;
  color: white;
  border: solid black 3px;
  cursor: pointer;
  padding: 10px;
  width: 150px;
}

input[type="reset"]:hover {
  border: solid black 3px;
  background-color:yellow;
color: red;
}


/* footer */
.main-footer  ul {
 text-align: justify;
}

.main-footer{
    display: block;
}
.main-footer button{
    background:#B02E0C;
    color: yellow;
    width:50%;
}
.main-footer a{
    text-decoration: none;
    color:#B02E0C;
}
 .main-footer a:hover { 
    background-color:wheat;
}
footer{
    background-color: #EEF36A;
    color: #B02E0C;
}
footer .connect{
    text-align: center;
    margin-top: 10px;

}
footer .links{
    margin-top: 10px;
    

}

footer .address{
    text-align: center;
    margin-top: 10px;

}
@media only screen and (max-width: 1024px){
    .navbar-brand i,
    .navbar-brand .logo {
      font-size: 2.5rem;
    }

    .navbar-brand{
        margin: 0;
    }

    .navbar-light .navbar-toggler {
        margin-right: 15px;
    }
    .main img{
        width: 200px; 
      }
      
}

@media only screen and (max-width: 1024px){

    .carousel img{
        width: 100%;
        max-height: 400px;
     }
    
}

@media only screen and (max-width: 768px){

    .carousel img{
        width: 100%;
        max-height: 400px;
     }

}